$icon-font-path: '../fonts/';
$fa-font-path: "../fonts/";

$high-dpi-screen: '-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi';

$color-codeclub-green: #393;
$color-codeclub-lightgreen: #d3e8d0;
$color-codeclub-palegreen: #f8faf4;

$body-bg: $color-codeclub-palegreen;
$text-color: $color-codeclub-green;
$brand-primary: $color-codeclub-green;

$font-size-base: 16px;

$headings-font-family: "Luckiest Guy", sans-serif;
